/* Initial state */
.fade-up {
    opacity: 0;
    transform: translateY(70px); /* Slightly below its position */
    transition: opacity .5s ease-out, transform .5s ease-out;
}

/* When in view */
.fade-up.active {
    opacity: 1;
    transform: translateY(0); /* Move to its original position */
}

/* Section Styling */
.experience-section {
    padding: 60px 20px;
    font-family: 'Arial', sans-serif;
}

.section-title {
    font-size: 4rem;
    font-weight: bold;
    color: var(--gray);
    text-align: center;
    margin-bottom: 50px;
}

/* Experience Cards */
.experience-cards {
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.experience-card {
    background: var(--lightGray); /* Slightly lighter dark card background */
    border-radius: 10px;
    padding: 30px;
}

/* Tags Row */
.tags-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.tag {
    background: var(--darkGray);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* Title */
.experience-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.experience-title:hover {
    color: var(--mint);
}

/* Description */
.experience-description {
    font-size: 1rem;
    color: var(--black);
    margin-bottom: 20px;
    line-height: 1.5;
}

/* Company Image */
.company-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.company-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
}

.company-name {
    font-size: 1rem;
}

.company-date {
    font-size: 0.85rem;
    color: #666;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .section-title {
        font-size: 3rem;
    }
    
    .experience-title {
        font-size: 1.3rem;
    }

    .experience-description {
        font-size: 0.9rem;
    }

    .tag {
        font-size: 0.7rem;
        padding: 4px 8px;
    }
}
